<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1074657681266-spie4pg4c0tuh971pbluupc3l59bip37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074657681266-spie4pg4c0tuh971pbluupc3l59bip37</string>
	<key>API_KEY</key>
	<string>AIzaSyDquUK2dOil3SJDEWbmAsDAlUXz3EfMIs8</string>
	<key>GCM_SENDER_ID</key>
	<string>1074657681266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hu.example.BattleOfHeroes</string>
	<key>PROJECT_ID</key>
	<string>battleofheroes-e7e7f</string>
	<key>STORAGE_BUCKET</key>
	<string>battleofheroes-e7e7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074657681266:ios:016472e3a301f498</string>
	<key>DATABASE_URL</key>
	<string>https://battleofheroes-e7e7f.firebaseio.com</string>
</dict>
</plist>