<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BattleOfHeroes.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C38B58C4627F8733831F28839520575CD54EB98B</string>
				<key>dateExpires</key>
				<string>9/3/21</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C38B58C4627F8733831F28839520575CD54EB98B</string>
						<key>dateExpires</key>
						<string>9/3/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33P7Y9GXZB</string>
						<key>name</key>
						<string>Mondriaan DC Korlátolt Felelősségű Társaság</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C38B58C4627F8733831F28839520575CD54EB98B</string>
						<key>dateExpires</key>
						<string>9/3/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Arrows.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33P7Y9GXZB</string>
						<key>name</key>
						<string>Mondriaan DC Korlátolt Felelősségű Társaság</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C38B58C4627F8733831F28839520575CD54EB98B</string>
						<key>dateExpires</key>
						<string>9/3/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33P7Y9GXZB</string>
						<key>name</key>
						<string>Mondriaan DC Korlátolt Felelősségű Társaság</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C38B58C4627F8733831F28839520575CD54EB98B</string>
						<key>dateExpires</key>
						<string>9/3/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33P7Y9GXZB</string>
						<key>name</key>
						<string>Mondriaan DC Korlátolt Felelősségű Társaság</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C38B58C4627F8733831F28839520575CD54EB98B</string>
						<key>dateExpires</key>
						<string>9/3/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33P7Y9GXZB</string>
						<key>name</key>
						<string>Mondriaan DC Korlátolt Felelősségű Társaság</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C38B58C4627F8733831F28839520575CD54EB98B</string>
						<key>dateExpires</key>
						<string>9/3/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33P7Y9GXZB</string>
						<key>name</key>
						<string>Mondriaan DC Korlátolt Felelősségű Társaság</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C38B58C4627F8733831F28839520575CD54EB98B</string>
						<key>dateExpires</key>
						<string>9/3/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MDCCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33P7Y9GXZB</string>
						<key>name</key>
						<string>Mondriaan DC Korlátolt Felelősségű Társaság</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C38B58C4627F8733831F28839520575CD54EB98B</string>
						<key>dateExpires</key>
						<string>9/3/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Panels.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33P7Y9GXZB</string>
						<key>name</key>
						<string>Mondriaan DC Korlátolt Felelősségű Társaság</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C38B58C4627F8733831F28839520575CD54EB98B</string>
						<key>dateExpires</key>
						<string>9/3/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33P7Y9GXZB</string>
						<key>name</key>
						<string>Mondriaan DC Korlátolt Felelősségű Társaság</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C38B58C4627F8733831F28839520575CD54EB98B</string>
						<key>dateExpires</key>
						<string>9/3/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33P7Y9GXZB</string>
						<key>name</key>
						<string>Mondriaan DC Korlátolt Felelősségű Társaság</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C38B58C4627F8733831F28839520575CD54EB98B</string>
						<key>dateExpires</key>
						<string>9/3/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33P7Y9GXZB</string>
						<key>name</key>
						<string>Mondriaan DC Korlátolt Felelősségű Társaság</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C38B58C4627F8733831F28839520575CD54EB98B</string>
						<key>dateExpires</key>
						<string>9/3/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SpotifyLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33P7Y9GXZB</string>
						<key>name</key>
						<string>Mondriaan DC Korlátolt Felelősségű Társaság</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C38B58C4627F8733831F28839520575CD54EB98B</string>
						<key>dateExpires</key>
						<string>9/3/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TTFortuneWheel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33P7Y9GXZB</string>
						<key>name</key>
						<string>Mondriaan DC Korlátolt Felelősségű Társaság</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C38B58C4627F8733831F28839520575CD54EB98B</string>
						<key>dateExpires</key>
						<string>9/3/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TTSegmentedControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33P7Y9GXZB</string>
						<key>name</key>
						<string>Mondriaan DC Korlátolt Felelősségű Társaság</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C38B58C4627F8733831F28839520575CD54EB98B</string>
						<key>dateExpires</key>
						<string>9/3/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33P7Y9GXZB</string>
						<key>name</key>
						<string>Mondriaan DC Korlátolt Felelősségű Társaság</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C38B58C4627F8733831F28839520575CD54EB98B</string>
						<key>dateExpires</key>
						<string>9/3/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33P7Y9GXZB</string>
						<key>name</key>
						<string>Mondriaan DC Korlátolt Felelősségű Társaság</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>33P7Y9GXZB.com.mondriaan.bottleofheroes</string>
				<key>com.apple.developer.team-identifier</key>
				<string>33P7Y9GXZB</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>33P7Y9GXZB.com.mondriaan.bottleofheroes</string>
				</array>
			</dict>
			<key>name</key>
			<string>BattleOfHeroes.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>86c73082-2e89-4b28-b6e4-ba6e9b75e956</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.mondriaan.bottleofheroes</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>33P7Y9GXZB</string>
				<key>name</key>
				<string>Mondriaan DC Korlátolt Felelősségű Társaság</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
